In [1]:
import pandas as pd
import numpy as np

In [33]:
df=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t',header=None,names=['A','B','C','D','E']
              )

In [38]:
import os
os.chdir('D:\\python')
df=pd.read_csv(r'cool_movies.csv')

In [44]:
df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [46]:
data=df.copy()

In [48]:
data.columns

Index(['Plot', 'Title', 'imdbVotes', 'Poster', 'imdbRating', 'Genre', 'imdbID',
       'Year', 'Language'],
      dtype='object')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 9 columns):
Plot          3387 non-null object
Title         3387 non-null object
imdbVotes     3387 non-null int64
Poster        1836 non-null object
imdbRating    3387 non-null float64
Genre         3387 non-null object
imdbID        3387 non-null object
Year          3358 non-null float64
Language      3387 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 238.3+ KB

In [52]:
df.shape[1]

9

In [ ]:
pd.read_pickle

In [34]:
df.head(20)
df.tail()

,A,B,C,D,E
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [26]:
df.rename{'':,'':}

0                                   item_name
1                Chips and Fresh Tomato Salsa
2                                        Izze
3                            Nantucket Nectar
4       Chips and Tomatillo-Green Chili Salsa
                        ...
4618                            Steak Burrito
4619                            Steak Burrito
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
4622                       Chicken Salad Bowl
Name: 2, Length: 4623, dtype: object

In [21]:
np.random.randn(6,4)

array([[-1.74310022,  1.12328015, -1.00273079,  0.97197237],
       [-0.04411179, -1.13703859, -2.07155114,  0.29438192],
       [ 0.87750352, -0.04505963,  0.10188653, -1.08974033],
       [ 1.9366795 ,  0.49204794,  0.53759159, -0.3311882 ],
       [ 0.36404296,  1.06918536, -0.02980848, -0.16384447],
       [ 1.12138264, -0.00616146,  1.03520996,  0.86124454]])

In [22]:
list('ABCD')

['A', 'B', 'C', 'D']